@charset "UTF-8";
* {
  position: relative;
  font-family: 微軟正黑體;
  vertical-align: top;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phone {
  width: 250px;
  left: 0px;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.top {
  height: 40px;
}
.top .camera {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  height: 350px;
  transition: 0.5s;
  overflow: hidden;
}
.screen .pages {
  font-size: 0px;
  white-space: nowrap;
  transition: 0.5s;
  background-attachment: #333;
  width: 100%;
  height: 100%;
  left: 0px;
}
.screen .pages .page {
  font-size: initial;
  display: inline-block;
  background-color: #444;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  white-space: normal;
  color: #eee;
  font-size: 15px;
}
.screen .pages .page p {
  margin-top: 30px;
}
.screen .pages .page h2 {
  color: white;
  font-size: 20px;
  margin: 0px;
}
.screen .pages .page:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  background-color: #FCB83A;
  height: 60px;
  width: 100%;
}
.screen .pages .page:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background-color: #FCB83A;
  height: 20px;
  width: 100%;
}
.screen .pages .page1 {
  background-color: #FCB83A;
  color: #fff;
}
.screen .pages .page1 h2 {
  font-size: 20px;
  margin-bottom: 0px;
}
.screen .pages .page1 h1 {
  font-size: 30px;
  margin-top: 0px;
}
.screen .pages .page1 .orange {
  width: 300px;
  height: 300px;
  background-color: #FF8400;
  border-radius: 100%;
}
.screen .pages .page2 {
  border-right: solid 10px #FCB83A;
  border-left: solid 10px #FCB83A;
}
.screen .pages .page3 {
  border-right: solid 10px #FCB83A;
  border-left: solid 10px #FCB83A;
}

.screenleft {
  border: solid 0px;
  position: absolute;
  cursor: pointer;
  left: 0%;
  top: 0%;
  width: 50%;
  height: 100%;
}

.screenright {
  border: solid 0px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
}

.bottom {
  height: 60px;
}
.bottom .square {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 27px;
  color: solid 1px rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.bottom .square:hover {
  background-color: #ddd;
}

.status, .phonename {
  color: white;
  margin: 3px;
}

.status {
  font-size: 27px;
  margin-top: 5px;
}

.phonename {
  margin: 10px;
}

.buttons {
  margin-top: 20px;
}
.buttons button {
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255, 0.2);
  color: white;
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
.buttons button:hover {
  background-color: #fff;
  color: #333;
}

.wiggle {
  transition: 0.5s;
}
