.phone
  .top
    .camera
  .screen  
    .pages
     .page.page1
       h2 Orange
       h1 橘
       .orange
     .page.page2
       h2 page2
       p 為什麼今天我是邊緣人？國際政治級的情人節翻盤指南 邊緣化原因一：以為自己高富帥  此時的清國不只是國際邊緣人，更是讓日本借鑒的工具人。有趣的是清國的繼承者們，至今偶爾還會出現歧視外國的心態，可能是邊緣人做太久，腦袋也開始失常了。
       
     .page.page3
       h2 page3
       p 例如這個世界上有許多政治實體，雖然實際上就像個國家運作，但國際社會卻當他空氣人，原因在於跟這些政治實體的交往成本太高，不但容易得罪其他國家，還會時不時的被這些沒有自信的邊緣人討拍，要求公開承認彼此的關係。
    .screenleft
    .screenright
        
    
  .bottom
    .square 	▢
h3.status The "Best" iphone we've ever made!
h2.phonename iphone5
.buttons
  button.i5 iphone5
  button.i5s iphone5s
  button.i6 iphone6
  button.i6s iphone6+
  button.wiggle wiggle
  button.turn turn around